* {
    margin: 0 auto;
}
body {
    background-color: #bdf5f9;
    height: 2000px; 
}
.text {
    padding-top: 10px;
    padding-left: 18px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
code {
    color: #e83e8c;
    padding-left: 18px;
    font-size: 1.5rem
}
.image {
    padding-left: 13px;
    padding-top: 10px;
}
div {
    padding-top: 40px;
    padding-left: 20px;
}
a {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 300px;
    color: black;
}